.vote-result {
  .custom__panel__header {
    text-align: left;
    padding-left: 1rem;
  }

  .question__container {
    &__avatar {
      img {
        padding: 0rem;
      }
    }

    &__content {
      padding: 0 1rem;

      .votes-contianer {
        position: relative;
        border: 2px solid #e0e0e0;
        border-radius: 5px;
        padding: 1rem;
        margin: 1rem 0;

        &__heading {
          color: #26a69a;
        }

        &__progressbar {
          margin: 1rem 0;
          height: 1.3rem;

          .determinate {
            display: flex;
            align-items: center;

            span {
              width: 100%;
              font-weight: 500;
              padding: 0.5rem;
              text-align: right;
            }
          }
        }

        &__votes {
          text-align: center;
        }

        &.selected {
          background: #e0f2f1;
          border-color: #26a69a;
        }

        &__badge {
          transform: translate(50%, -50%);
          z-index: 1;
          right: 0%;
          top: 0%;
          position: absolute;
          background: #fdd835;
          border-radius: 50%;
          width: 3.5rem;
          height: 3.5rem;
          padding: 0.2rem;
          text-align: center;
          font-weight: 500;
          font-size: 0.9rem;
          color: #fff;
          display: flex;
          align-items: center;
        }

        &:not(.selected) {
          .votes-contianer__badge {
            display: none;
          }
        }
      }
    }
  }
}
