.question-preview {
  width: 100%;
  margin-top: 1rem;

  &:first-of-type {
    margin-top: 0;
  }

  .custom__panel__header {
    text-align: left;
    padding-left: 1rem;
    &__label {
      padding: 0.5rem 0;
    }
  }
}
