$teal-theme: #4db6ac;
$grey-text: #616161;

.navbar {
  nav {
    border-bottom: 2px solid $teal-theme;
    background: #fff;
    color: $grey-text;
    font-weight: 600;

    ul>li {
      a.active {
        background: $teal-theme;
        color: #fff
      }

      a {
        color: $grey-text;
      }
    }

    .user-info,
    .logout {
      padding: 0 15px;
      margin: 0;
    }

    .user-info {
      display: flex;
      align-items: center;

      &__name {
        margin: 0;
        padding-right: .5rem;
      }

      &__avatar {
        display: flex;
        align-items: center;
        width: 32px;
        height: 32px;
      }
    }

    .logout {
      cursor: pointer;
      transition: background-color .3s;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }

}